ul.navbar
    li
        a(href='#') Главная
    li
        a(href='#') Старые карты
    li
        a(href='#') Картины, рисунки
    li
        a(href='#') Фотографии
    li
        a(href='#') Breack Puctures
    li
        a(href='#') Книги сайта
    li
        a(href='#') Криминальное чтиво
    li
        a(href='#') Серия ЖЗЛ
    li
        a(href='#') Б-ка приключений
    li
        a(href='#') Раритет
    li
        a(href='#') Прошлое в фото
    li
        a(href='#') Статьи сайта
    li
        a(href='#') Последние каменты
    li
        a(href='#') Форум
    li
        a(href='#') Дневник
    li
        a(href='#') Контакты