footer {
  height: 47px;
  background-image: url('/images/20.gif');
  background-repeat: repeat-x;

  .powered {
    text-align: center;
    color: #dbb270;
    padding: 20px 0 0 0;
    font-size: 12px;
  }
}