aside.sidebar
    //Menu Home
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Меню сайта
        .sidebar__block_telo
            include section_sidebar/menu
        .sidebar__block_footer
    //End Menu Home

    //Searsh
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Поиск

        .sidebar__block_telo
            //- <div class="searchForm"><form action="/search/" style="margin:0" method="get" onsubmit="this.sfSbm.disabled=true"><div align="center" class="schQuery"><input type="text" class="queryField" size="20" maxlength="60" name="q"></div><div align="center" class="schBtn"><input type="submit" value="Найти" name="sfSbm" class="searchSbmFl"></div></form></div>

        .sidebar__block_footer
    //End Seash

    //Chat
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Чат сайта

        .sidebar__block_telo

        .sidebar__block_footer
    //End Chat

    //Statistica
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Статистика

        .sidebar__block_telo
            //- <div class="center">$COUNTER$<?if($ONLINE_COUNTER$)?>$ONLINE_COUNTER$$ONLINE_USERS_LIST$<?endif?></div>

        .sidebar__block_footer
    //End Statistika
