aside.sidebar
    //-Menu Home
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Меню сайта
        .sidebar__block_telo
            include section_sidebar/menu
        .sidebar__block_footer
    //-End Menu Home

    //-Searsh
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Поиск
        .sidebar__block_telo
            include section_sidebar/searsh
        .sidebar__block_footer
    //-End Seash

    //-Accaunt
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Аккаунт
        .sidebar__block_telo
            include section_sidebar/login
        .sidebar__block_footer
    //-End Accaunt

    //-Lichka
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Личные сообщения
        .sidebar__block_telo

        .sidebar__block_footer
    //-End Lichka

    //-Chat
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Чат сайта
        .sidebar__block_telo

        .sidebar__block_footer
    //-End Chat

    //Statistica
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Статистика
        .sidebar__block_telo
            //- <div class="center">$COUNTER$<?if($ONLINE_COUNTER$)?>$ONLINE_COUNTER$$ONLINE_USERS_LIST$<?endif?></div>

        .sidebar__block_footer
    //End Statistika

    //Zahodili
    .sidebar__block
        .sidebar__block_zagolovok
            h3 Заходили сегодня
        .sidebar__block_telo

        .sidebar__block_footer
    //End Zahodili