.zagolovok
    h2.zagolovok_razdely-glav Разделы сайта

.telo-icon
    figure
        figcaption Старые карты
        a.podskazka(href='/load/2-1', rel='Старые карты в отличном качестве')
            img(src='/images/map_icon.jpg' alt='Старые карты')


    figure
        figcaption Картины, рисунки
        a.podskazka(href='/news/1-0-1' rel='Картины, рисунки, иллюстрации. Огромный выбор альбомов для просмотра')
            img(src='/images/pictures_icon.jpg')


    figure
        figcaption Фотографии
        a.podskazka(href='/news/1-0-2' rel='Фотографии, которые не оставят вас равнодушными')
            img(src='/images/foto_icon.jpg')


    figure
        figcaption Книги
        a.podskazka(href='/load/1' rel='Книги сайта. История, культура, литература, мемуары, а также старые советские издания')
            img(src='/images/boock_icon.jpg')


    figure
        figcaption Открытие Земли
        a.podskazka(href='/publ/4' rel='Открытие Земли. Великие мореплаватели и путешественики. История Великих географических открытий')
            img(src='/images/geo_icon.jpg')


    figure
        figcaption Раритет
        a.podskazka(href='/load/34' rel='Раритет. Редкие, очень редкие книги!')
            img(src='images/raritet_icon.jpg')


    figure
        figcaption Новый солдат
        a.podskazka(href='/load/23' rel='Новый солдат. Для любителей военной истории')
            img(src='/images/soldat_icon.jpg')


    figure
        figcaption серия ЖЗЛ
        a.podskazka(href='/load/28' rel='Серия книг Жизнь Замечательных Людей')
            img(src='/images/jzl_icon.jpg')


    figure
        figcaption Б-ка приключений
        a.podskazka(href='/load/32' rel='серия книг Библиотека приключений и научной фантастики')
            img(src='/images/mir_prikl_icon.jpg')


    figure
        figcaption Статьи
        a.podskazka(href='/publ/2' rel='Статьи сайта. Они вам понравятся')
            img(src='/images//statii_icon.jpg')


    figure
        figcaption Военно-историч. б-ка
        a.podskazka(href='/load/36' rel='серия книг Военно-историческая библиотека')
            img(src='/images/voiennaia_icon.jpg')


    figure
        figcaption Призраки прошлого
        a.podskazka(href='/publ/12' rel='Призраки прошлого. Минувший 20 век в качественных фотографиях')
            img(src='/images/dnevnik.jpg')


    figure
        figcaption Мир приключений
        a.podskazka(href='/load/33' rel='серия книг Мир приключений')
            img(src='/images/bibl_pikl_icon.jpg')


    figure
        figcaption Break Pictures
        a.podskazka(href='/board/2' rel='Break Pictures. Это надо видеть')
            img(src='/images/Break-Pictures.jpg')


    figure
        figcaption Криминальное чтиво
        a.podskazka(href='/blog/' rel='Криминальное чтиво. Библиотека Рэдрика, художественная литература')
            img(src='/images/krim_icon.jpg')