.zagolovok {
  .zagolovok_razdely-glav {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(103, 30, 0);
    @include antiq;
  }
  h3 {
    text-align: center;
    font-size: 1.583rem;
    margin-top: -10px;
    color: rgb(103, 30, 0);
    @include italic;
  }
}

.telo-icon {
  text-align: center;

  figure {
    display: inline-block;
    vertical-align: bottom;
    width: 150px;
    margin: 10px 5px 20px 5px;
    text-align: center;

    figcaption {
      margin-bottom: 3px;
      font-size: 0.9rem;
      color: rgb(103, 30, 0);
    }
  }
}

