.eBlock {
  padding-right: 100px;
  padding-left: 100px;

  &__eTitle {
    color: #948549;
    padding-left: 25px;

    &_ePraviblock-vremia {
      font-size: 9px;
      float: right;
      font-family: verdana, arial, helvetica;
      font-weight: normal;
    }

    &_Name {
      font-family: Book Antiqua, Verdana, Arial, Sans-Serif;
      font-size: 24px;
      font-weight: bold;
      padding: 0 0 0 17px;
      background: url('../images/23.gif') no-repeat 0 2px;
      a {
        font-family: Book Antiqua, Verdana, Arial, Sans-Serif;
        font-size: 22px;
      }
    }
  }
}

.eMessage {
  font-family: Arial, Verdana;
  font-size: 16px;
  text-align: justify;
  padding: 10px 15px 10px 5px;
  overflow: hidden;
  p, i, b, u {
    font-family: Arial, Verdana;
    font-size: 16px;
  }
  img {
    margin: 0 15px 5px 0;
  }

  font {
    font-size: 16px;
    font-family: Arial, Verdana;

    * {
      font-size: 16px;
      font-family: Arial, Verdana;
    }
  }
}

.eDetails {
  border-top: 1px dashed #DBB270;
  border-bottom: 1px dashed #DBB270;
  padding: 3px 0;
  margin: 0 20px 40px 10px;
  color: #7A551B;
}