@font-face {
    font-family: "Book Antiqua";
    src: url("../fonts/book-antiqua.ttf");
}

@font-face {
    font-family: "Book Antiqua Bold";
    src: url("../fonts/book-antiqua-bold.ttf");
}

@font-face {
    font-family: "Book Antiqua Italic";
    src: url("../fonts/book-antiqua-italic.ttf");
}

@font-face {
    font-family: "Book Antiqua Bold Italic";
    src: url("../fonts/book-antiqua-bold-italic.ttf");
}